.custom-price-filter {
    @apply flex flex-1 flex-col
}

.custom-price-slider {
    @apply w-full h-[20px] relative mb-[30px]
}

.custom-price-slider::after {
    /* width: auto;
    left: -20px;
    right: -20px; */
    z-index: 1;
    box-sizing: border-box;
    content: "";
    width: 100%;
    position: absolute;
    display: inline-block;
    height: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    background: #d7d9dc;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    box-shadow: 0 0 4px 1px rgba(0,0,0,.2) inset;
}

.price-slider {
    @apply relative w-[calc(100%_-_40px)] h-[20px]
}

.price-slider {
    /* display: block; */
    margin: auto;
    /* margin: 0 auto 20px auto; */
}

.range-bar {
    right: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    height: 8px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.range-bar {
    @apply bg-green-300
}

.knob {
    @apply absolute w-[20px] h-[20px] bg-white z-10 rounded-full border-[6px] border-green-300 cursor-pointer hover:border-green-400
}

.left-knob {
    @apply left-0
}
.left-knob {
    transform: translateX(-100%);
}

.right-knob {
    @apply left-[100%]
}

.right-knob {
    transform: translateX(0);
}

.price-inputs-container {
    @apply flex w-full justify-between
}

.price-input {
    @apply w-[80px] h-[30px] text-center border-[1px] border-gray-500 rounded transition-all duration-150 ease-linear outline-none focus:border-blue-400
}

.price-input-container >input[type="number"]::-webkit-inner-spin-button,
.price-input-container >input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


/* .container::after {
    width: auto;
    left: -20px;
    right: -20px;
    z-index: 1;
    box-sizing: border-box;
    content: "";
    position: absolute;
    display: inline-block;
    height: 5px;
    background: #d7d9dc;
    transform: translateY(-50%);
    border-radius: 3px;
}

.container {
    height: 100px;
    width: calc(100% - 40px);
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    position: relative;
    width: 100%;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: green;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    right: 0;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
    transform: translateX(-100%);
  }
  
  .thumb--right {
    z-index: 4;
    transform: translateX(0);
  }
  
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
   */