/* .loader {
    @apply w-4 h-4 mr-2 border-dotted border-2 border-white rounded-[50%] animate-spin
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

.loader {
    /* width: 1.5rem;
    height: 1.5rem; */
    width: 16px;
    height: 16px;
    border-width: 2px;
    font-size: 16px;
    margin-right: 0.5rem;

    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -999em;
    border: 0.15em solid;
    border-color: currentColor transparent currentColor currentColor;
    border-radius: 50%;
    animation-name: spinner-border;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    vertical-align: bottom;

    /* color: #cf3a3a !important; */

    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;

    animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);

    box-sizing: border-box;
    font-weight: normal;
    white-space: normal;
    word-wrap: break-word;
}

@keyframes spinner-border{
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}