.input-secondary-password-container {
    @apply flex flex-1 relative;

    .input-secondary-password-icon {
        @apply absolute  top-0 bottom-0 flex justify-center items-center w-[50px] border border-transparent bg-transparent;
        @apply text-gray-700; 
    }

    .input-secondary-password-arrow {
        @apply text-gray-400 ; 
        position: absolute;
        left: 47px;
        top: 14px;
        width: 10px;
        height: 10px;
        font-size: 10px;
    }

    .input-secondary-password-arrow::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 7px;
        background-color: white;
        top: 4px;
        left: 1px;
        z-index: 1000;
    }
    

    .input-secondary-password-icon::after {
        @apply bg-gray-400;
        position: absolute;
        content: "";
        left: 48px;
        height: 44px;
        width: 1px;
    }


    .input-secondary-password {
        @apply w-full h-[45px] pl-[60px] pr-[20px] py-[5px] rounded-[2px] text-gray-700 text-xl outline-none border border-gray-400 hover:border-green-300 focus:border-green-300 transition-all duration-150 ease-linear;
    }

    .input-secondary-password-eye {
        @apply flex justify-center items-center w-[60px] rounded-r-[2px] border border-l-0 border-gray-400;
        @apply cursor-pointer bg-white text-gray-700 hover:text-white hover:bg-green-400; 
        @apply transition-all duration-150 ease-linear;
    }

}