.categorie-list-primary {
    @apply text-base pt-[10px] pl-[10px] mb-[5px];

    .categorie-list-primary-item {
        @apply relative pl-[20px] mb-[9px] hover:text-green-300;
    }
    
    .categorie-list-primary-item::before {
        content: "";
        width: 4px;
        height: 4px;
        background: #666;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
        -webkit-transform: translate(0, -50%) rotate(45deg);
    }
}