.quantity-primary-container {
    @apply flex w-[100px] h-[40px]
}

.quantity-primary-minus-container,
.quantity-primary-input-container,
.quantity-primary-plus-container {
    @apply flex justify-center items-center
}

.quantity-primary-minus-container {
    @apply basis-1/4 flex rounded-l border-[1px] border-gray-500 text-gray-500 hover:bg-gray-200 cursor-pointer
}

.quantity-primary-input-container {
    @apply flex-1 flex border-t-[1px] border-b-[1px] border-gray-500
}

.quantity-primary-plus-container {
    @apply basis-1/4 flex rounded-r border-[1px] border-gray-500 text-gray-500 hover:bg-gray-200 cursor-pointer
}

.quantity-input {
    @apply outline-none w-full text-center appearance-none
}

.quantity-primary-btn {
    @apply w-full h-full
}

.quantity-primary-input-container>input[type="number"]::-webkit-inner-spin-button,
.quantity-primary-input-container>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}