.cart-popup-products-container {
    @apply overflow-auto max-h-[300px] mt-[10px] px-[20px];

    .cart-popup-product {
        @apply flex py-[20px] border-b border-b-gray-500;

        .cart-popup-product-image-wrap {
            @apply flex w-[62px] h-[62px] relative rounded border border-gray-400;

            .image-delete-item {
                @apply absolute top-[-12px] left-[-14px] bg-gray-50;
            }
        }

        .cart-popup-product-details {
            @apply flex flex-col flex-1 pl-[20px];

            .product-name {
                @apply text-[11px] text-gray-600 mb-[5px];
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }

            .product-price {
                @apply text-[12px] font-bold;
            }
        }
    }

    .cart-popup-product:first-child {
        @apply pt-[12px];
    }

    .cart-popup-product:last-child {
        @apply border-none;
    }
}

.cart-popup-products-container::-webkit-scrollbar {
    @apply w-[8px];
}

.cart-popup-products-container::-webkit-scrollbar-track {
    @apply bg-[#eaeaea] rounded-[10px];
}

.cart-popup-products-container::-webkit-scrollbar-thumb {
    @apply bg-[#49ad00] rounded-[10px];
}

.cart-popup-products-container::-webkit-scrollbar-thumb:hover {
    @apply bg-[#b30000];
}