.modal-backdrop {
    @apply w-[100vw] h-[100vh] fixed top-0 left-0 flex justify-center items-center z-[1000];

    .modal-overlay {
        @apply absolute inset-0 bg-gray-700 opacity-70;
    }

    .modal-content {
        animation: popout 400ms ease-in-out;
    }
    .modal-content {
        @apply bg-white relative z-[1001] overflow-hidden;
    }
}

@keyframes popout {
    0% {
        scale: 0.3;
    } 
    100% {
       scale: 1;
    }
}